*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1242px;
    /* background-color: greenyellow; */
    margin: 0 auto;
}
.penta-bg{
    /* position: relative; */
    background-image: url(./assets/page-1\ background.png);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.7; */
    filter: brightness(70%);

clip-path: polygon(0 85%, 0 0, 100% 0, 100% 85%, 50% 100%);
/* z-index: 0; */
}
.ml-a{
    margin-left: auto;
}
.logo{
    margin-left: 31px;
}
nav{
    /* position: absolute; */
    display: flex;
    align-items: center;
    padding-top: 20px;
    /* justify-content: end; */
}
.menu{
    margin-left: 370px;
}

.menu>ul{
    display: flex;
    margin-right: 10px;
    margin-left: auto;
}
.menu>ul>li>a{
    text-decoration: none;
    color: red;
    margin: 20px 10px;
}
.menu>ul>li{
    
    display: inline-block;
}