    *{
        margin: 0;
        padding: 0;
    }
    .ml-a{
        margin-left: auto;
    }
  /* navbar start */
  .nav{
      background-color: #adb54f;
      display: flex;
    }
    .nav ul{
        display: flex;
        align-items: center;
        /* margin: 0 auto; */
        /* justify-content: end; */
    }
    .nav ul li{
        display: inline-block;
        
    }
    
    .nav ul li a{ 
        color: aqua;
        font-size: 1.8rem;
        text-decoration: none;
     margin: 20px 20px;
     padding: 20px 20px;
     /* justify-content: space-evenly;    */
    }  
    .nav ul li a:hover{ 
        /* animation: infinite; */
        /* font-size: 1.4rem; */
        color: red;
        /* text-decoration: none;
     margin: 30px 30px;
     padding: 30px 30px; */
     /* justify-content: space-evenly;    */
    }  
    /* navbar start */